body{
    background-color: beige;
    padding: 0;
    margin: 0;
}
.space{
    height: 100vh;
    width: 100vw;
    background-color: gray;
}

body > div > div{
    height: 100vh;
    width: 50vw;
    background-color: yellow;
} 
.top{
    display: flex;
}
.bottom{
    display: flex;
}
.tr{
    background-color: red;
}
.tl{
    background-color: blue;
    margin: 0;
    padding: 0;
}
.br{
    background-color: chartreuse;
}
.bl{
    background-color: darkmagenta;
    visibility: hidden;
}
#bfooter{
    margin-top: -50vh;
}
#cfooter{
    background-color: pink;
}